<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
</head>
<body>
	<form action="/user/save" method="post">
		<% if (user && user.id) {%>   <!-- 修改 -->
			<h2>修改用户</h2>
			<p><label>ID：<%=user.id%></label></p>	
			<input type="hidden" value="<%=user.id%>" name="id" />
		<%} else {%>
			<h2>新增用户</h2>
		<%}%>
		<p><label for="name"><input type="text" value="<%=user ? user.name : ''%>" name="name" id="name"/></label></p>
		<p><label for="mobile"><input type="text" value="<%=user ? user.mobile : ''%>" name="mobile" id="mobile"/></label></p>
		<p>
			<% if (user && user.id) {%>
				<button type="submit">保存修改</button>
			<%} else {%>
				<button type="submit">保存</button>
			<%}%>
		</p>
	</form>
</body>
</html>